<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="gradnja, stanov, Kograd, Kordić, geodezija, Zagreb">
    <meta name="description" content="prodaja stanova i geodetske usluge">
    <meta name="author" content="Nikolina Kordić">
    <link rel="icon" href="Icon.jpeg" type="image/ico" sizes="32x32">
    <link rel="stylesheet" href="page.css">
    <title>Kograd promet</title>

    <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>


  <body>

    <!--Navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div href="#" class="pull-left"><img src="Logo.jpeg"></div>  <!-- LOGO img -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 font-weight-bold">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Početna<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">O nama<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Prodaja stanova</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Geodezija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Kontakt</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Traži..." aria-label="Search">
          <button class="btn my-2 my-sm-0 btn-success" type="submit">Traži</button>
        </form>
      </div>
    </nav>

    <!-- ikone stanova -->

    <div>
      <div class="container text-center">
        <div class="row">
          <div class="col-3 card-deck float-xl-left">
            <img class="selling_image" src="potocka.png">
          </div>
          <div class="col_selling col-3 card-deck float-xl-right">
            <img class="selling_image" src="rudes_prizemlje2.png"
          </div>
          <div class="w-100"></div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>
    </div>
  </body>